﻿@model Database_PMO.Entities.PMO_Projects

@{
    ViewBag.Title = "Projects Control";
}

<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                </div>
                <!-- /.card-header -->
                <div class="card-body  table-responsive">
                    <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="display:none;">ID</th>
                                <th>Type</th>
                                <th>Priority</th>
                                <th>Status</th>
                                <th>PMO</th>
                                <th>User Case</th>
                                <th>FIT Case</th>
                                <th>Subject</th>
                                <th>Grupo</th>
                                <th>Requestor</th>
                                <th>Start Date</th>
                                <th>Expected Delivery Date</th>
                                <th>Site</th>
                            </tr>
                        </thead>
                        <tbody id="TableDashboard"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/_Custom/PMO_Projects.js"></script>
