﻿@model Database_PMO.Entities.PMO_Projects

@{
    ViewBag.Title = "Projects Control";
}

<section class="content">
    <!-- /.card -->
    <!-- general form elements disabled -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Project</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form">
                <div id="project" class="col-md-6">
                    @*FON*@
                </div>
                <input type="button" class="form-control col-md-2" id="btnSave" value="Save"/>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- jQuery -->
<script src="~/Scripts/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Scripts/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/Scripts/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="~/Scripts/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Scripts/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Scripts/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="~/Scripts/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="~/Scripts/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="~/Scripts/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="~/Scripts/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
<!-- FastClick -->
<script src="~/Scripts/plugins/fastclick/fastclick.js"></script>
<script src="~/Scripts/_Custom/Project.js"></script>
<script>
</script>